/* Bootstrap
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
	margin-top: 70px;
  }
}

body{
	background-color: #EEEEEE;
}

.center{
	text-align: center;
}

#navBarContainer{
	height: 0%;
}

#frontContainer{
	background-image: url('../images/map.png');
	background-color: #003550;
	height: 100%;
	width: 100%;
}

#nameImage{
	height: 50%;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#proficiencyContentContainer{
	height: 87%;
}

#langaugesAndPlatformsImg{
	height: 87%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#workContainer{
	height: 100%;
}

#grabcadAndroid{
	margin-top: 100px;
}

#projectsContainer{
	height: 110%;
}

#schoolContainer{
	height: 100%;
}

.titleContainer{
	background-color: #eeeeee;
	height: 13%;	
}

/*#frontDirectory{
	background: url('../images/mask.png') no-repeat center;
	background-size: 30%;
}*/

#test{
	-webkit-mask-image: url('../images/mask.png');
	-webkit-mask-size: 70%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

#test:hover{
	-webkit-mask-image: url('../images/mask.png');
	-webkit-mask-size: 80%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

.title{
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bolder;
	font-size: 50px;
	background-color: #202024;
	color:#FFFFFF;
}

.frontNav{

}

.project{
	/*position: absolute;*/
	/*background: url('../images/mask.png') no-repeat center;*/
	padding-top: 40px;
	background-size: 100%;
}

.mask{
	margin-left: auto;
	margin-right: auto;
	display: block;
	vertical-align: center;
	width: 100%;
	position: absolute;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.mask:hover{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
}

/*.project{
	-webkit-mask-image: url('../images/mask.png');
	-webkit-mask-size: 90%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}

.project:hover{
	-webkit-mask-image: url('../images/mask.png');
	-webkit-mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
}*/

.projectImg{
	width: 100%;
}

.proficiencyPiece{
	border-style:solid;
	border-width:5px;
	position: absolute;
	width: 100px;
	/*height: 100px;*/
	/*left: 100px;*/
}

a:hover{
	text-decoration: none;
}